<html>

<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/plainold.css" />
</head>

<H4><a href="{{logout_url}}">{{logout_txt}}</a> <b>{{user}} - iRun</b> 
<a href="/">Main</a>
<a href="charts">Charts</a>
</H4>

<body>

<p>Best times (5k,10k,20k,marathon)</p>
<p>Max hart rate: <b>{{max_hart_rate.hr_max}}</b></p>
<p>Fastest pace: <b>{{max_pace.pace_max}}</b></p>
 

<div>
<table border="1.5" title="5 longest runs">
Five longest runs
<tr>
    <th>#</th>
    <th>Date</th>
    <th>Distance (km)</th>
    <th>Pace(min/km)</th>
</tr>
{% for result in five_longest_runs %}
<tr>
 <td style="text-align:center">{{forloop.counter}}</td>
 <td style="text-align:center">{{result.date}}</td>
 <td style="text-align:center">{{result.distance}}</td>
 <td style="text-align:center">{{result.pace}}</td>
</tr>
{% endfor %}
</table>
</div>
</body>
</html>
